<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1><strong><CENTER>BlackBerry</CENTER></strong></h1></th>


    <tr>
      <td>
        <img src="images/blackberry/8520.jpg"alt="BlackBerry Curve 8520" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Curve 8520<br>just in Rs 12,500 </center></a>
      </td>
      <td>
        <img src="images/blackberry/8900.jpg"alt="BlackBerry Curve 8900" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Curve 8900 <br>just in Rs 15,000</center></a>
      </td>
      <td>
        <img src="images/blackberry/9300.jpg"alt="BlackBerry Curve 3G 9300" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Curve 3G 9300<br>just in Rs 13,300</center></a>
      </td>
      <td>
        <img src="images/blackberry/9380.jpg"alt="BlackBerry Curve 9380" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Curve 9380<br>just in Rs 26,499</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <img src="images/blackberry/9650.jpg"alt="BlackBerry Bold 9650" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Bold 9650<br>just in Rs 36,000</center></a>
      </td>
      <td>
        <img src="images/blackberry/9700.jpg"alt="BlackBerry Bold 9700" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Bold 9700<br>just in Rs 27,000</center></a>
      </td>
      <td>
        <img src="images/blackberry/9720.jpg"alt="BlackBerry 9720" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry 9720<br>just in RS 22,000</center></a>
      </td>
      <td>
        <img src="images/blackberry/9780.jpg"alt="BlackBerry Bold 9780" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Bold 9780<br>just in Rs 27,500</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="images/blackberry/9790.jpg"alt="BlackBerry Bold 9790" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Bold 9790<br>just in Rs 24,000</center></a>
      </td>
      <td>
        <img src="images/blackberry/9800.jpg"alt="BlackBerry Torch 9800" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Torch 9800<br>just in Rs 20,500</center></a>
      </td>
      <td>
        <img src="images/blackberry/9860.jpg"alt="BlackBerry Torch 9860" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Torch 9860<br>just in Rs 25,000</center></a>
      </td>
      <td>
        <img src="images/blackberry/9900.jpg"alt="BlackBerry Bold Touch 9900" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Bold Touch 9900<br>just in Rs 36,000</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="images/blackberry/9780.jpg"alt="BlackBerry Bold 9780" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Bold 9780<br>just in Rs 27,500</center></a>
      </td>
      <td>
        <img src="images/blackberry/9860.jpg"alt="BlackBerry Torch 9860" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Torch 9860<br>just in Rs 25,000</center></a>
      </td>
      <td>
        <img src="images/blackberry/9650.jpg"alt="BlackBerry Bold 9650" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Bold 9650<br>just in Rs 36,000</center></a>
      </td>
      <td>
        <img src="images/blackberry/9780.jpg"alt="BlackBerry Bold 9780" style="width:70px;height:100px"/><br>
        <a id="model" href="http://us.blackberry.com/"><center>BlackBerry Bold 9780<br>just in Rs 27,500</center></a>
      </td>
    </tr>


  </table>

</td>
