<td id="right">
           <table id="model"  border="2" >
                    <th colspan="4"><h1 ><strong><CENTER>Huawei I Store</CENTER></strong></h1></th>
                   
                    
                        <tr>
                            <td>
                                <img src="images/Huawei/Mate7.jpg"alt="Huawei Ascend Mate 7" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend Mate 7<br>just in Rs 56,999  </center></a>
                            </td>
                            <td>
                                <img src="images/Huawei/P7.jpg"alt="Huawei Ascend P7" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend P7<br>just in Rs  41,100 </center></a>
                            </td>
                            <td>
                                <img src="images/Huawei/Mate.jpg"alt="Huawei Ascend Mate" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend Mate<br>just in Rs 36,999 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Huawei/P6.jpg"alt="Huawei Ascend P6" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend P6<br>just in Rs 36,500 </center></a>
                            </td>
                            
                        </tr>


                       <tr>
                            <td>
                                <img src="images/Huawei/Honor6.jpg"alt="Huawei Honor 6" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Honor 6<br>just in Rs 36,490 </center></a>
                            </td>
                            <td>
                                <img src="images/Huawei/Honor2.jpg"alt="Huawei Honor 2" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Honor 2<br>just in Rs 35,000 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Huawei/P1.jpg"alt="Huawei Ascend P1" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend P1<br>just in Rs 35,000 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Huawei/3X.jpg"alt="Huawei Honor 3X" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Honor 3X<br>just in Rs 31,999 </center></a>
                            </td>
                            
                        </tr>

<tr>
                           <td>
                                <img src="images/Huawei/G7.jpg"alt="Huawei Ascend G7" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend G7<br>just in Rs 29,999</center></a>
                            </td>
                            <td>
                                <img src="images/Huawei/C4G.jpg"alt="Huawei Honor 3C" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Honor 3C<br>just in Rs 28,999 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Huawei/U8860.jpg"alt="Huawei U8860" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei U8860<br>just in Rs 26,900 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Huawei/G700.jpg"alt="Huawei Ascend G700" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend G700<br>just in Rs 25,900 </center></a>
                            </td>
                            
                        </tr>

<tr>
                            <td>
                                <img src="images/Huawei/G6.jpg"alt="Huawei Ascend G6" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend G6<br>just in Rs 22,999 </center></a>
                            </td>
                            <td>
                                <img src="images/Huawei/G300.jpg"alt="Huawei Ascend G300 " style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend G300 <br>just in Rs 22,000 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Huawei/G730.jpg"alt="Huawei Ascend G730" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Ascend G730<br>just in Rs 21,499 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Huawei/3C.jpg"alt="Huawei Honor 3C" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.huawei.com/en/"><center>Huawei Honor 3C<br>just in Rs 19,499 </center></a>
                            </td>
                            
                        </tr>