<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1 style="color:grey"><strong><CENTER>Lenovo</CENTER></strong></h1></th>


    <tr>
      <td>
        <img src="images/lenovo/A319.jpg"alt="Lenovo A319" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A319<br>just in Rs 7,900 </center></a>
      </td>
      <td>
        <img src="images/lenovo/A328.jpg"alt="Lenovo A328" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A328 <br>just in Rs 11,900</center></a>
      </td>
      <td>
        <img src="images/lenovo/A369.jpg"alt="Lenovo A369i" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A369i<br>just in Rs 7,900</center></a>
      </td>
      <td>
        <img src="images/lenovo/A536.jpg"alt="Lenovo A536" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A536<br>just in Rs 14,900</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <img src="images/lenovo/A319.jpg"alt="Lenovo A319" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A319<br>just in Rs 7,900 </center></a>
      </td>
      <td>
        <img src="images/lenovo/S650.jpg"alt="Lenovo S650" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S650<br>just in Rs 16,900</center></a>
      </td>
      <td>
        <img src="images/lenovo/S850.jpg"alt="Lenovo S850" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S850<br>just in Rs 24,900</center></a>
      </td>
      <td>
        <img src="images/lenovo/S860.jpg"alt="Lenovo S860" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S860<br>just in Rs 35,500</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="images/lenovo/X2.jpg"alt="Lenovo Vibe X2" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo Vibe X2<br>just in Rs 44,500</center></a>
      </td>
      <td>
        <img src="images/lenovo/S650.jpg"alt="Lenovo S650" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S650<br>just in Rs 16,900</center></a>
      </td>
      <td>
        <img src="images/lenovo/A369.jpg"alt="Lenovo A369i" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A369i<br>just in Rs 7,900</center></a>
      </td>
      <td>
        <img src="images/lenovo/A319.jpg"alt="Lenovo A319" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A319<br>just in Rs 7,900 </center></a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="images/lenovo/S850.jpg"alt="Lenovo S850" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo S850<br>just in Rs 24,900</center></a>
      </td>
      <td>
        <img src="images/lenovo/A369.jpg"alt="Lenovo A369i" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A369i<br>just in Rs 7,900</center></a>
      </td>
      <td>
        <img src="images/lenovo/X2.jpg"alt="Lenovo Vibe X2" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo Vibe X2<br>just in Rs 44,500</center></a>
      </td>
      <td>
        <img src="images/lenovo/A319.jpg"alt="Lenovo A319" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.lenovo.com/eg/en/"><center>Lenovo A319<br>just in Rs 7,900 </center></a>
      </td>
    </tr>


  </table>

</td>

