<td id="right">
           <table id="model"  border="2" >
                    <th colspan="4"><h1 style="color:grey"><strong><CENTER>Rivo Mobile</CENTER></strong></h1></th>
                   
                    
                        <tr>
                            <td>
                                <img src="images/Rivo/PZ15.jpg"alt="Rivo Phantom PZ15" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Phantom PZ15<br>just in Rs 22,000  </center></a>
                            </td>
                            <td>
                                <img src="images/Rivo/PZ10.jpg"alt="Rivo Phantom PZ10" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Phantom PZ10<br>just in Rs  16,500 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Rivo/PZ8.jpg"alt="Rivo Phantom PZ8" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Phantom PZ8<br>just in Rs 14,800 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Rivo/RX60.jpg"alt="Rivo Rhythm RX60" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Rhythm RX60<br>just in Rs 13,800 </center></a>
                            </td>
                            
                        </tr>


                       <tr>
                            <td>
                                <img src="images/Rivo/RX55.jpg"alt="Rivo Rhythm RX55" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Rhythm RX55<br>just in Rs 9,150 </center></a>
                            </td>
                            <td>
                                <img src="images/Rivo/RX50.jpg"alt="Rivo Rhythm RX50" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Rhythm RX50<br>just in Rs 8,700 </center></a>
                            </td>
                            
                            <td>
                                <img src="images/Rivo/RX40.jpg"alt="Rivo Rhythm RX40" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Rhythm RX40<br>just in Rs 7,200 </center></a>
                            </td>
                            
                            <td>
                                <img src="img/RX35.jpg"alt="Rivo Rhythm RX35" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Rhythm RX35<br>just in Rs 6,150 </center></a>
                            </td>
                            
                        </tr>

<tr>
                            <td>
                                <img src="img/J505.jpg"alt="Rivo Jaguar J505" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Jaguar J505<br>just in Rs 3,650</center></a>
                            </td>
                            <td>
                                <img src="img/S610.jpg"alt="Rivo Sapphire S610" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Sapphire S610<br>just in Rs 2,975 </center></a>
                            </td>
                            
                            <td>
                                <img src="img/A235.jpg"alt="Rivo Advance A235" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Advance A235<br>just in Rs 2,775 </center></a>
                            </td>
                            
                            <td>
                                <img src="img/A225.jpg"alt="Rivo Advance A225" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Advance A225<br>just in Rs 2,725 </center></a>
                            </td>
                            
                        </tr>

<tr>
                            <td>
                                <img src="img/A240.jpg"alt="Rivo Advance A240" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Advance A240<br>just in Rs 2,550 </center></a>
                            </td>
                            <td>
                                <img src="img/A230.jpg"alt="Rivo Advance A230 " style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Advance A230 <br>just in Rs 2,550 </center></a>
                            </td>
                            
                            <td>
                                <img src="img/A210.jpg"alt="Rivo Advance A210" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Advance A210<br>just in Rs 2,475 </center></a>
                            </td>
                            
                            <td>
                                <img src="img/A220.jpg"alt="Rivo Advance A220" style="width:70px;height:100px"/><br>
                                <a id="model" href="http://www.whatmobile.com.pk/Rivo_Mobiles_Prices"><center>Rivo Advance A220<br>just in Rs 2,300 </center></a>
                            </td>
                            
                        </tr>

