<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1 ><strong><CENTER>Samsung SmartPhone</CENTER></strong></h1></th>


    <tr>
      <td>

        <img src="images/samsung/s6edge.jpg"alt="S6" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung S6 edge<br>just in Rs 92,999 </center></a>
      </td>
      <td>
        <img src="images/samsung/s6.jpg"alt="S6" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung S6 <br>just in Rs 78,999</center></a>
      </td>
      <td>
        <img src="images/samsung/note4edge.jpg"alt="note4" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung Note4 edge<br>just in Rs 89,000</center></a>
      </td>
      <td>
        <img src="images/samsung/note4.jpg"alt="note4" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung Note4<br>just in Rs 78,000</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <img src="images/samsung/s5.jpg"alt="S5" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung S<br>just in Rs 61,000</center></a>
      </td>
      <td>
        <img src="images/samsung/S4zoom.jpg"alt="S4zoom" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung S4 zoom <br>just in Rs 57,000</center></a>
      </td>
      <td>
        <img src="images/samsung/GalaxyA7.jpg"alt="GalaxyA7" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyA7<br>just in Rs 55,000</center></a>
      </td>
      <td>
        <img src="images/samsung/note3.jpg"alt="note3" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung Note3 <br>just in Rs 53,999</center></a>
      </td>
    </tr>

    <tr>
      <td>
        <img src="images/samsung/GalaxyAlpha.jpg"alt="GalaxyAlpha" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung Galaxy Alpha<br>just in Rs 55,000 </center></a>
      </td>
      <td>
        <img src="images/samsung/GalaxyA5.jpg"alt="GalaxyA5" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyA5<br>just in Rs 45,000</center></a>
      </td>
      <td>
        <img src="images/samsung/GalaxyS4.jpg"alt="GalaxyS4" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyS4<br>just in Rs 37,500</center></a>
      </td>
      <td>
        <img src="images/samsung/GalaxyE7.jpg"alt="GalaxyE7" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyE7<br>just in Rs 36,500</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <img src="images/samsung/GalaxyGrand2.jpg"alt="GalaxyGrand2" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyGrand2<br>just in Rs 35,000</center></a>
      </td>
      <td>
        <img src="images/samsung/GalaxyE5.jpg"alt="GalaxyE5" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyE5<br>just in Rs 32,000</center></a>
      </td>
      <td>
        <img src="images/samsung/GalaxyA3.jpg"alt="GalaxyA3" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyA3<br>just in Rs 31,500</center></a>
      </td>
      <td>
        <img src="images/samsung/GalaxyGrandPrimes.jpg"alt="GalaxyGrandPrimes" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.samsung.com/uk/galaxys6/"><center>Samsung GalaxyGrandPrimes<br>just in Rs 19,999</center></a>
      </td>
    </tr>


  </table>

</td>

