<td id="right">
  <table id="model"  border="2">
    <th colspan="4"><h1 style="color:grey"><strong><CENTER>Sony SmartPhone</CENTER></strong></h1></th>


    <tr>
      <td>
        <img src="images/sony/sonyz3.jpg"alt="z3" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony Z3<br>just in Rs 53,500 </center></a>
      </td>
      <td>
        <img src="images/sony/sonyz2a.jpg"alt="z2a" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony z2a <br>just in Rs 51,000</center></a>
      </td>
      <td>
        <img src="images/sony/zls.jpg"alt="zls" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony ZL<br>just in Rs 47,000</center></a>
      </td>
      <td>
        <img src="images/sony/Z3C.jpg"alt="z3c" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony Z3 compact<br>just in Rs 46,500</center></a>
      </td>
    </tr>


    <tr>
      <td>
        <img src="images/sony/Z1C.jpg"alt="z1c" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony Z1c<br>just in Rs 41,000</center></a>
      </td>
      <td>
        <img src="images/sony/ZR.jpg"alt="ZR" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony ZR<br>just in Rs 40,999</center></a>
      </td>
      <td>
        <img src="images/sony/Z2.jpg"alt="z2" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony Z2<br>just in Rs 40,000</center></a>
      </td>
      <td>
        <img src="images/sony/z1.jpg"alt="z1" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony z1<br>just in Rs 34,000</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="images/sony/SL.jpg"alt="sL" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony SL<br>just in Rs 32,000</center></a>
      </td>
      <td>
        <img src="images/sony/TX.jpg"alt="TX" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony TX<br>just in Rs 32,000</center></a>
      </td>
      <td>
        <img src="images/sony/SONYS.jpg"alt="S" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony S<br>just in Rs 30,000</center></a>
      </td>
      <td>
        <img src="images/sony/SZ.jpg"alt="SZ" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony SZ<br>just in Rs 30,000</center></a>
      </td>
    </tr>
    <tr>
      <td>
        <img src="images/sony/SC.jpg"alt="c" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony C<br>just in Rs 22,000</center></a>
      </td>
      <td>
        <img src="images/sony/SP.jpg"alt="P" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony P<br>just in Rs 21,999</center></a>
      </td>
      <td>
        <img src="images/sony/Z2.jpg"alt="z2" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony Z2<br>just in Rs 40,000</center></a>
      </td>
      <td>
        <img src="images/sony/z1.jpg"alt="z1" style="width:70px;height:100px"/><br>
        <a id="model" href="http://www.sonymobile.com/gb/products/phones/"><center>Sony z1<br>just in Rs 34,000</center></a>
      </td>
    </tr>
  </table>

</td>

</tr>
