*{
	width: auto;
	font-family:  Monospace,sans-serif;
	margin: auto;
	text-align:center;
	border-spacing: 0;


}

 

table#fpg{
	border: 0px ;
	height:768px; 
	width:1330px;
	margin-right: auto;
	margin-left: auto;
}



tr#banner{
	height: 100px;
	background:#525252;
	 color:white;
	 font-size:150%;
	
}




tr#img{
	height: 250px;
	}



tr#content{
	height: 400px;
	}
tr#content td#right{
	width: 80%;
	vertical-align: top;
	border-left: 0px solid black;
	}
tr#content td#right table#model{


	width:90%;
	height: 80%;
	 
}



tr#content td#left{
	width: 20%;
	vertical-align: top;
	
	}
tr#content td#left table#brand{

	width:30px;
	background: #525252; 
}





tr#footer{
	height: 50px;
	background-color: black;
	color: white;
	text-align: center;
	}




a{
	color: black;
	font-family:  Monospace,serif,Verdana, Arial, Helvetica;
	text-decoration: none;
	padding: 5px;
	font-size: 30px
}
a#model{
	color: white;
	font-family:  Monospace,serif,Verdana, Arial, Helvetica;
	text-decoration: line;
	padding: 5px;
	font-size: 20px;

}

h1{color: white;}