body{
	background:#C0C0C0;
	width: auto;
	font-family:  sans-serif;
	margin: auto;
	text-align:center;
}

pre{

	background:#525252;
	 color:black;
	 font-size:150%;
		
}
#section {
    width:center;
    padding:8px;	 	 
}
